DATABASE_URL=""
LLAMA_CLOUD_API_KEY=""
SECRET_KEY=""
ALGORITHM=""
ACCESS_TOKEN_EXPIRE_MINUTES=""
REFRESH_TOKEN_EXPIRE_DAYS=""
OLLAMA_BASE_URL=""
OLLAMA_MODEL=""
OLLAMA_FAST_MODEL=""
CHROMA_DIR=""
PDF_PATH=""
CHUNK_SIZE=""
CHUNK_OVERLAP=""
RETRIEVAL_K=""
RERANKING_TOP_K=""
EMBEDDING_MODEL=""
MLFLOW_TRACKING_URI=""